<div class="col-md-8 col-md-offset-2">
  <%= form_for Question.new, url: '/question', html: { class: 'form-horizontal', role: 'form' } do |f| %>
    <div class="col-md-10 col-md-offset-1">
      <div class="form-group">
        <textarea class="form-control" name="question" placeholder="Question"></textarea>
      </div>
      <div class="form-group">
        <%= select('', 'answer_status_id', AnswerStatus.all.order(:description).collect { |as| [as.description, as.id] }, { }, class: 'form-control') %>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label class="form-label">Answer</label>
            <select id="answer_answer_ids" class="form-control" multiple="multiple" style="height: 200px" name="answer[answer_ids][]"></select>
          </div>
          <div class="col-md-6">
            <label class="form-label">Dummy Answer</label>
            <select id="answer_dummy_answer_ids" class="form-control" multiple="multiple" style="height: 200px" name="answer[dummy_answer_ids][]"></select>
          </div>
        </div>
      </div>
      <div class="form-group text-center">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    fillAnswers(2);

    $("#answer_status_id").change(function(){
      fillAnswers($(this).val());
    });
  });

  function fillAnswers(id) {
    $.get('/question/get-answers/' + id, function(html){
      $("#answer_answer_ids").html(html);
      $("#answer_dummy_answer_ids").html(html);
    });
  }
</script>